<html>
  <head>
    <title>{{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="{% url 'item_list' %}">Список товаров</a></li>
        <li><a href="{% url 'cart' %}">Корзина</a></li>
      </ul>
    </header>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }} $</p>
    <button id="buy-button">Оплатить</button>
      <script type="text/javascript">
        var stripe = Stripe('{{ stripe_public_key }}');
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click', function() {
          fetch('checkout', {method: 'GET'})
          .then(response => response.json())
          .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
        });
      </script>
  </body>
</html>
